.table
{
	position: relative;
	height: 100%;
}

.table .hand
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
}

.table .hand .cards
{
	position: absolute;
	left: 50%;
	padding: 20px;
}

.table .hand .card
{
	width: 100px;
	margin: 0 10px;
	transform-origin: bottom center;
	margin-right: -40px;
}


.table .hand .card:nth-child(1)
{
	transform: rotate(-10deg);
}
.table .hand .card:nth-child(2)
{
	transform: rotate(-5deg);
}
.table .hand .card:nth-child(3)
{
	/* needed for correct z-indexing */
	transform: rotate(0deg);
}
.table .hand .card:nth-child(4)
{
	transform: rotate(5deg);
}
.table .hand .card:nth-child(5)
{
	transform: rotate(10deg);
}